* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tarjetas {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.recipe-card {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
  justify-content: center;
}

.recipe-card:hover {
    transform: scale(1.1);
}

.recipe-card-imag{
    width: 100%;
    height: auto;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;    
    overflow: hidden;
}


.recipe-card-image img {
    width: 100%;
    height: 200%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
